<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp37-cp37m-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24

ERROR: Could not install packages due to an OSError: [WinError 5] Отказано в доступе: 'c:\\users\\user\\anaconda3\\lib\\site-packages\\~qlalchemy\\cutils.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: ibm_db_sa in c:\users\user\appdata\roaming\python\python37\site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\user\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\user\appdata\roaming\python\python37\site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

### I performed this lab in sqlite

In [3]:
%pwd

'C:\\Users\\User\\Desktop\\Programming\\IBM\\Capstone\\Capstone_final'

In [4]:
import sqlite3 as sq
import pandas as pd
conn = sq.connect('capstone_sql.db') # creates the capstone_sql.db database
df=pd.read_csv('C:\\Users\\User\\Desktop\\Programming\\IBM\\data\\Spacex.csv')
df.to_sql('spacex', conn, if_exists='replace', index=False) # creates the spacex table in the capstone_sql.db database
conn.commit()
conn.close() #  close connection

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [5]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT DISTINCT(Launch_Site) FROM spacex""")
for site in cur.fetchall():
    print(site[0])
    print("-"*80)

CCAFS LC-40
--------------------------------------------------------------------------------
VAFB SLC-4E
--------------------------------------------------------------------------------
KSC LC-39A
--------------------------------------------------------------------------------
CCAFS SLC-40
--------------------------------------------------------------------------------

### Task 2

##### Display 5 records where launch sites begin with the string 'KSC'

In [6]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT * FROM spacex
WHERE Launch_Site LIKE '%KSC%' LIMIT 5 """)
for record in cur.fetchall():
    print(record)
    print("-"*80)

('19-02-2017', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
--------------------------------------------------------------------------------
('16-03-2017', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt')
--------------------------------------------------------------------------------
('30-03-2017', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)')
--------------------------------------------------------------------------------
('1/5/2017', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)')
--------------------------------------------------------------------------------
('15-05-2017', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')
--------------------------------------------------------------------------------

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [7]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT SUM(PAYLOAD_MASS__KG_) FROM spacex
            WHERE Customer LIKE 'NASA (CRS)%' """)
print("The total payload mass carried by boosters launched by NASA (CRS) is ", cur.fetchall()[0][0])

The total payload mass carried by boosters launched by NASA (CRS) is  48213

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [8]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT ROUND(AVG(PAYLOAD_MASS__KG_), 3) FROM spacex
            WHERE Booster_Version LIKE 'F9 v1.1%' """)
print("average payload mass carried by booster version F9 v1.1 is ", cur.fetchall()[0][0])

average payload mass carried by booster version F9 v1.1 is  2534.667

### Task 5

##### List the date where the first succesful landing outcome in drone ship was acheived.

*Hint:Use min function*

### First we need to check datatypes in our table named spacex

In [9]:
"""making list of all tables in the capstone_sql.db """
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT name FROM sqlite_schema
WHERE type='table'
ORDER BY name;""")
cur.fetchall()

[('spacex',)]

In [10]:
"""Checking datatypes of the spacex table"""
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""PRAGMA table_info(spacex);""")
cur.fetchall()

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing _Outcome', 'TEXT', 0, None, 0)]

### We need to change data format to YYYY-MM-DD

In [11]:
conn=sq.connect('capstone_sql.db')
query="SELECT * FROM spacex"
df=pd.read_sql(query, conn)
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,4/6/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,8/12/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,8/10/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,1/3/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [12]:
import re
pattern=re.compile(r"/")
df["Date"]=df["Date"].str.replace(pattern, "-")

In [13]:
pattern=re.compile(r"(\d{1,2})-(\d{1,2})-(\d{4})")
df["Date"]=df["Date"].str.replace(pattern, r"\3-\2-\1")
df["Date"]

0        2010-6-4
1       2010-12-8
2      2012-05-22
3       2012-10-8
4        2013-3-1
          ...
96      2020-11-5
97     2020-11-16
98     2020-11-21
99     2020-11-25
100     2020-12-6
Name: Date, Length: 101, dtype: object

In [14]:
def fix_month(string):
    import re
    pattern=re.compile(r"-\d{1,2}-")
    if len(pattern.findall(string)[0])==3:
        
        return string[0:5]+"0"+string[5:]
    else:
        return string
df["Date"]=df["Date"].apply(fix_month)

In [15]:
def clean_day(string):
    if len(string[8:])!=2:
        return string[0:8]+"0"+string[8]
    else:
        return string
df["Date"]=df["Date"].apply(clean_day)

In [16]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [17]:
conn = sq.connect('capstone_sql.db')
df.to_sql('spacex', conn, if_exists='replace', index=False)

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [18]:
conn = sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT MIN(DATE) FROM spacex
WHERE "Landing _Outcome"="Success (ground pad)" """)
print("the first succesful landing outcome in drone ship was acheived on ", cur.fetchall()[0][0])

the first succesful landing outcome in drone ship was acheived on  2015-12-22

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [19]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT Booster_Version FROM spacex
            WHERE (PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000) AND "Landing _Outcome"="Success (ground pad)" """)

print("the names of the boosters which have success in ground pad\n and \
have payload mass greater than 4000 but less than 6000")
print("-"*80) 
for name in cur.fetchall():
    print(name[0])
    print("-"*80)

the names of the boosters which have success in ground pad
 and have payload mass greater than 4000 but less than 6000
--------------------------------------------------------------------------------
F9 FT B1032.1
--------------------------------------------------------------------------------
F9 B4 B1040.1
--------------------------------------------------------------------------------
F9 B4 B1043.1
--------------------------------------------------------------------------------

### Task 7

##### List the total number of successful and failure mission outcomes

In [20]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT COUNT(Mission_Outcome) FROM spacex
            WHERE Mission_Outcome='Success' """)
print("The total number of successful mission outcomes is ", cur.fetchall()[0][0])

The total number of successful mission outcomes is  98

In [21]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT COUNT(Mission_Outcome) FROM spacex
            WHERE Mission_Outcome!='Success' """)
print("The total number of failure mission outcomes is ", cur.fetchall()[0][0])

The total number of failure mission outcomes is  3

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [22]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT Booster_Version FROM spacex
            WHERE PAYLOAD_MASS__KG_=(SELECT MAX(PAYLOAD_MASS__KG_) FROM spacex)""")
print("booster_versions which have carried the maximum payload mass")
print("-"*80)
for booster_version in cur.fetchall():
    print(booster_version[0])
    print("-"*80)

booster_versions which have carried the maximum payload mass
--------------------------------------------------------------------------------
F9 B5 B1048.4
--------------------------------------------------------------------------------
F9 B5 B1049.4
--------------------------------------------------------------------------------
F9 B5 B1051.3
--------------------------------------------------------------------------------
F9 B5 B1056.4
--------------------------------------------------------------------------------
F9 B5 B1048.5
--------------------------------------------------------------------------------
F9 B5 B1051.4
--------------------------------------------------------------------------------
F9 B5 B1049.5
--------------------------------------------------------------------------------
F9 B5 B1060.2
--------------------------------------------------------------------------------
F9 B5 B1058.3
--------------------------------------------------------------------------------
F9 B5 B1051.6
--------------------------------------------------------------------------------
F9 B5 B1060.3
--------------------------------------------------------------------------------
F9 B5 B1049.7
--------------------------------------------------------------------------------

### Task 9

##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017

In [38]:
cur.execute("""SELECT strftime('%m', [DATE]), "Landing _Outcome", Booster_Version, Launch_Site FROM SPACEX
WHERE strftime('%Y', [DATE])='2017' and "Landing _Outcome" in ('Success (ground pad)') """)
output=cur.fetchall()
output

[('02', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('05', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('06', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('08', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('09', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('12', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40')]

### The task says that output should be in the following format:
###   the month name, succesful landing_outcomes in ground pad ,booster versions, 
### launch_site. To meet the above criteria, output will be transforemed into pandas dataframe

In [43]:
output_df=pd.DataFrame(output, columns=["month", "landing_outcome", "booster version", "launch_site"])
# output_df.dtypes
def month(string):
    if string=="01":
        return "January"
    elif string=="02":
        return "February"
    elif string=="03":
        return "March"
    elif string=="04":
        return "April"
    elif string=="05":
        return "May"
    elif string=="06":
        return "June"
    elif string=="07":
        return "July"
    elif string=="08":
        return "August"
    elif string=="09":
        return "September"
    elif string=="10":
        return "October"
    elif string=="11":
        return "November"
    elif string=="12":
        return "December"
output_df["month"]=output_df["month"].map(month)
output_df

       month       landing_outcome booster version   launch_site
0   February  Success (ground pad)   F9 FT B1031.1    KSC LC-39A
1        May  Success (ground pad)   F9 FT B1032.1    KSC LC-39A
2       June  Success (ground pad)   F9 FT B1035.1    KSC LC-39A
3     August  Success (ground pad)   F9 B4 B1039.1    KSC LC-39A
4  September  Success (ground pad)   F9 B4 B1040.1    KSC LC-39A
5   December  Success (ground pad)  F9 FT  B1035.2  CCAFS SLC-40

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [26]:
conn=sq.connect('capstone_sql.db')
cur=conn.cursor()
cur.execute("""SELECT "Landing _Outcome", COUNT("Landing _Outcome") as COUNT FROM SPACEX
WHERE (DATE BETWEEN '2010-06-04' and '2017-03-20') and "Landing _Outcome" in ('Success (ground pad)', 'Success (drone ship)', 'Success')
GROUP BY ("Landing _Outcome") ORDER BY COUNT("Landing _Outcome") DESC
""")
cur.fetchall()

[('Success (drone ship)', 5), ('Success (ground pad)', 3)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>